body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root{
  --bg-color: #041C31;
  --second-bg-color:#363636;
  --text-color: #ededed;
  --main-color: #008ADE;
  } 

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.logo a {
  width: auto;
  color: white;
  font-size: 2.5em;
  cursor: pointer;
  text-decoration: none; /* Supprime le soulignement */

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #2c3e50;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 50px; /* Ajuste cette valeur selon ton besoin */
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Menu burger - caché par défaut */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: 0.3s;
}

.hero {
  position: relative;
  width: 100%;
  height: 700px ; /* Hauteur ajustée */
  overflow: hidden;
  background-color: #f3f3f3; /* Couleur de fond pour éviter des espaces vides */
}

.hero-image {
  width: 100%;
  height: 115%;
  object-fit: contain;
  margin-top: -5%;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 107%;
  height: 230px;
  background: var(--bg-color);
  border-radius: 50% 50% 0 0;
  z-index: 1;
  transform: translateY(50%);
}

.text-section {
  padding: 1px 0px;
  background: linear-gradient(180deg,#041C31, #24527a); /* Dégradé de blanc à gris clair */
}

.text-content {
  max-width: 100%;
  height:460px ;
  margin: 0 auto;
  text-align: center;
}

.text-content h1{
  font-size: 4em;
  margin-bottom: 40px;
  color: var(--text-color);
}

.text-content p {
  font-size: 1.8rem;
  color: var(--text-color);
  line-height: 2.5rem;
  text-align: center;
  margin:  0 5% 2% 5%;
}

.cta-button {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 0px;
  font-size: 1.1em;
  color: white;
  background-color: #3498db; /* Couleur du bouton */
  border-radius: 25px; /* Arrondi pour un style ovale */
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #2980b9; /* Couleur de fond au survol */
  transform: scale(1.05); /* Effet de survol */
}

.section-deux {
  padding: 1px 0px;
  background-color: var(--text-color); /* Couleur de fond pour la section de texte */
}

.section-text-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.section-text-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--second-bg-color);
}

.section-text-content p {
  font-size: 1.2em;
  color: var(--se);
  line-height: 1.6;
}

.section-deux {
  padding: 40px 20px;
  background-color: #f9f9f9; /* Couleur de fond pour la section */
}

.section-text-content {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.section-image {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; /* Ajoute des coins arrondis à l'image */
  margin-right: 20px; /* Espace entre l'image et le texte */
  transform: scale(1.5); /* Effet de survol */
}

.text-container {
  width: 50%;
}

.text-container h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
}

.text-container p {
  font-size: 1.2em;
  color: #0b0707;
  line-height: 1.6;
}

.section-trois {
  padding: 40px 20px;
  background-color: #dedede; /* Couleur de fond différente pour la section */
}

.section-trois-text-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.section-trois-image {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; /* Ajoute des coins arrondis à l'image */
  margin-right: 20px; /* Espace entre l'image et le texte */
}

.section-trois-text-container {
  width: 50%;
}

.section-trois-text-container h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
}

.section-trois-text-container p {
  font-size: 1.3em;
  color: #666;
  line-height: 1.6;
}

.section-trois-button-container {
  text-align: center; /* Centre le bouton horizontalement */
}

.section-trois-cta-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.8em;
  color: white; 
  background-color:var(--bg-color); /* Couleur du bouton */
  border-radius: 25px; /* Arrondi pour un style ovale */
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.section-trois-cta-button:hover {
  background-color: #2980b9; /* Couleur de fond au survol */
  transform: scale(1.05); /* Effet de survol */
}

.section-quatre {
  padding: 40px 20px;
  background-color: #f3f3f3; /* Couleur de fond pour la section */
}

.section-quatre-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.section-quatre-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.section-quatre-content p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 40px; /* Espace entre le texte et les rectangles */
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.feature-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre pour le relief */
  text-align: left;
}

.feature-box h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.feature-box p, .feature-box ul {
  font-size: 1em;
  color: #666;
  line-height: 1.4;
}

.feature-box ul {
  padding-left: 20px; /* Indentation pour la liste */
}

.feature-box ul li {
  margin-bottom: 5px; /* Espace entre les éléments de la liste */
}

.section-cinq {
  padding: 40px 20px;
  background-color: var(--bg-color); /* Couleur de fond pour la section */
}

.section-cinq-content {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.section-cinq-content h2 {
  font-size: 2em;
  margin-bottom: 40px;
  color: var(--text-color);
}

.machine-cards-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.machine-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  height: auto; /* Hauteur automatique */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre pour le relief */
  text-align: center;
  text-decoration: none; /* Supprime la décoration du lien */
  color: inherit; /* Hérite la couleur du texte */
  transition: transform 0.3s, box-shadow 0.3s;
}

.machine-card:hover {
  transform: scale(1.05); /* Effet d'agrandissement au survol */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée au survol */
}

.image-container {
  width: 100%;
  height: 300px; /* Hauteur fixe pour toutes les images */
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.machine-card-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px; /* Coins arrondis pour les images */
}

.machine-card-image-une {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px; /* Coins arrondis pour les images */
  transform: scale(1.2); /* Agrandit l'image légèrement */
}

.machine-card h3 {
  font-size: 2.1em;
  margin-bottom: 10px;
  color: #333;
}

.machine-card p {
  font-size: 1.3em;
  color: #666;
  line-height: 1.4;
}


/* Styles pour le footer */
.footer {
  background-color: #333;
  color: white;
  padding: 40px 0 20px;
  text-align: left;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-section p,
.footer-section ul {
  font-size: 1em;
  line-height: 1.6;
  margin-right: 60px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #3498db;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 0.9em;
  color: #999;
}

.footer-section.contact a {
  color: white;  /* Texte blanc */
  text-decoration: none; /* Supprime le soulignement */
}

.footer-section.contact a:hover {
  color: white; /* Reste blanc même au survol */
}

@media (max-width: 768px) and (min-width: 350px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background: #2c3e50;
    padding: 15px 0;
    z-index: 999; /* S'assure que le menu passe au-dessus du contenu */
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    text-align: center;
    padding: 12px 0;
}

.menu-toggle {
    display: flex;
}

/* Animation du menu burger */
.menu-toggle.active div:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.menu-toggle.active div:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.hero {
  height: 400px; 
}

.hero::after {
  display: none;
}

.text-content h2 {
  font-size: 2em; 
}

.text-content p {
  font-size: 1.2rem; 
  line-height: 1.3rem;
  margin: 5% 5% 5% 5%;
}

.section-text-content {
  flex-direction: column;
}

.section-image {
  width: 70%;
  margin-bottom: 20px; 
}

.section-trois-text-container h3 {
  margin: 0% 0% 0 0%;
}

.text-container {
  width: 100%;
}

.section-trois-text-content {
  flex-direction: column;
}

.section-trois-image {
  width: 100%;
  margin-bottom: 20px; 
}

.section-trois-text-container {
  width: 100%;
}

.features-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

.feature-box ul li {
  margin-bottom: 5px; 
  font-size: 16px;
}

.feature-box {
  width: 80%;
  margin: 0 auto; /* Centre la carte */
}

.machine-cards-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

.machine-card {
  width: 90%; /* Ajuster la largeur pour qu'elle s'adapte bien */
  margin-bottom: 20px; /* Ajouter un espace entre les cartes */
}

.footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  text-align: left;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin-bottom: 20px;
  min-width: 200px; /* Assure que chaque section a une largeur minimale */
}

.footer-section h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-section p,
.footer-section ul {
  font-size: 1em;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #3498db;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 0.9em;
  color: #999;
}

.footer-section.contact a {
  color: white;  /* Texte blanc */
  text-decoration: none; /* Supprime le soulignement */
}

.footer-section.contact a:hover {
  color: white; /* Reste blanc même au survol */
}

}
