*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    }
    
    :root{
    --bg-color: #041C31;
    --second-bg-color:#363636;
    --text-color: #ededed;
    --main-color: #008ADE;
    }
    
    html{
      font-size: 62.5%;
      overflow-x: hidden;
    }
    
    body{
      background: var(--bg-color);
      color: var(--text-color);
    }
    
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem 9%;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;  
      z-index: 100;
      transition: .3s;
    }
     
    .logo {
      font-size: 5.5rem;
      color: var(--second-bg-color);
      font-weight: 600;
    }
    
    
.menu-dropdown {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.menu-dropdown i {
  color: rgb(83, 83, 83);
  font-size: 35px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 140px;
  min-height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(247, 246, 246, 0.2);
  z-index: 1;
  border-radius: 15px;
  border: solid 2px black;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 50px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 18px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.menu-dropdown:hover .dropdown-content {
  display: block;
}

.machine-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.photo-container {
  width: 31.7%;
  background-color: #f0f0f0;
}
/* Photo  concerto*/
.photo-container img {
  width: 800px;
  margin-left: -120px;
  margin-bottom: 10%;
  margin-top: 15%;
}

.photo-container-maestro {
  width: 31.7%;
  background-color: #f0f0f0;
}

/* Photo Maestro*/ 
.photo-container-maestro img {
  width: 400px;
  margin-left: 3%;
  margin-top: 20%;
  background-color: #f0f0f0;
}

/* Photo Inovy Mini */ 
.photo-container-mini img {
  width: 800px;
  margin-left: -120px;
  margin-bottom: 20%;
  background-color: #f0f0f0;
}

.photo-container-mini  {
  background-color: #f0f0f0;
}

/*Photo Inovy Compact */
.photo-container-compact img {
  width: 800px;
  margin-left: -120px;
  margin-bottom: 30%;
  background-color: #f0f0f0;
}

/*Photo Inovy  */
.photo-container-inovy img {
  width: 500px;
  margin-left: -10px;
  margin-bottom: 30%;
  margin-top: 60%;
  background-color: #f0f0f0;
}
.photo-container-inovy {
  width: 31.7%;
  background-color: #f0f0f0;
}



.info-container {
  width: 70%;
  padding: 20px;
  background-color: #ffffff;
}

.info-container h2 {
  margin-top: 12%;
  font-size: 70px;
  color: #008ADE;
  margin-bottom: 80px;
  margin-left: 35%;}

.info-container p {
  color: black;
  font-size: 18px;
  font-family: 'Roboto Condensed';
  margin-left: 25%;
  text-align: center;
  max-width: 580px;
  font-weight: 600;
}

.machine-section hr {
  border: none; /* Retire la bordure par défaut */
  height: 2px; /* Définit la hauteur de la ligne */
  width: 50%;
  background-color: #4e4e4e; /* Couleur de la ligne */
  margin: 20px 20px 20px 20%; /* Marge supérieure et inférieure pour espacement */
  text-align: center;
}

.machine-section h3 {
  margin-left: 20%;
  font-size: 25px;
  color: #000000;
  text-align: center;
  max-width: 600px;
  font-weight: 600;
}


/* Bouton découvrir*/ 

.svg-wrapper {
  position: relative;
  top: 10%;
  transform: translateY(-50%);
  margin-left: 33%;  
  width: 320px;  
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke:var(--bg-color);
  border-bottom: 10px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color:var(--bg-color);
  top: -48px;
  position: relative;
  margin-left: 60px;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}


.second-section {
  padding: 0px 0; /* Espace de remplissage haut et bas */
}

.container-deux {
  display: flex;
  justify-content: space-around; /* Répartit les zones de manière égale sur l'axe horizontal */
}

.zone {
  width: 30%; /* Largeur fixe de chaque zone */
  text-align: center; /* Centre le contenu horizontalement */
  overflow: hidden; /* Empêche le contenu de déborder de la zone */
}

.zone-2:not(:last-child) {
  border-right: 2px solid #ccc; /* Bordure de 2 pixels à droite, sauf pour la dernière zone */
  padding-right: 15px; /* Espacement à droite de la bordure */
}

/* La ligne sera positionnée à l'intérieur de la zone */
.zone::after {
  content: ''; /* Contenu vide */
  position: absolute; /* Position absolue par rapport à la zone parente */
  top: 0; /* Position en haut de la zone */
  bottom: 0; /* Position en bas de la zone */
  right: -1px; /* Décale la ligne de 1 pixel vers la gauche pour éviter un décalage */
  width: 2px; /* Largeur de la ligne */
  background-color: #ccc; /* Couleur de la ligne */
}

.photo-container-deux {
  margin-bottom: 20px; /* Marge en bas de la photo */
  height: 500px; /* Hauteur fixe de la zone de la photo */
}

.photo-container-deux img {
  width: 100%; /* La largeur de l'image s'adapte à la taille de son conteneur */
  height: auto; /* Garantit que l'image conserve son ratio hauteur/largeur */
}

.photo-container-deux-maestro img {
  width: 50%; /* La largeur de l'image s'adapte à la taille de son conteneur */
  height: auto; /* Garantit que l'image conserve son ratio hauteur/largeur */
  margin-left: -20%;
}


.info-container-2{
  color:var(--main-color);
  top: 50;
  left: 50;
}


.info-container h3 {
  margin-bottom: 10px; /* Marge en bas du titre */
}

.info-container p {
  margin-bottom: 0; /* Aucune marge en bas du paragraphe */
  line-height: 25px;
}


.info-container-1 h3 {
  /* Styles pour le titre */
  /* Par exemple : */
  font-size: 25px;
  color: var(--main-color);
  margin-bottom: 25px;
  margin-top: 10%;
}

.info-container-2 h3 {
  /* Styles pour le titre */
  font-size: 25px;
  color: var(--main-color);
  margin-bottom: 25px;
  margin-top: 10%;
}

.info-container-2 .description-data p {
  font-size: 15px;
  display: block; /* Change la disposition des paragraphes */
  margin-bottom: 10px; /* Ajoute un espace entre les paragraphes */
  margin-top: 20px;
  color: var(--text-color);
}

.info-container-2 .description-data p:last-child {
  margin-bottom: 0; /* Supprime l'espace en bas du dernier paragraphe */
}

.info-container-2 .description-data {
  margin-bottom: 20px; /* Ajoute un espace entre les paires description-donnée */
  text-align: center;
}

.info-container-2 hr {
  border: none; /* Supprime le style par défaut de la ligne horizontale */
  border-top: 2px solid #ccc; /* Ajoute une ligne horizontale personnalisée */
  margin: 20px 40px 0 0px;
}

.info-container-2 .description-data .description {
  font-weight: 200;
  font-size: 14px;
}

.info-container-2 .description-data .description-info {
  font-weight: 800;
}

.info-container-3{
  width: 30%;
}

.info-container-3 .description-data p {
  font-size: 15px;
  display: block; /* Change la disposition des paragraphes */
  margin-bottom: 10px; /* Ajoute un espace entre les paragraphes */
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
}

.info-container-3 .description-data p:last-child {
  margin-bottom: 0; /* Supprime l'espace en bas du dernier paragraphe */
}

.info-container-3 .description-data {
  margin-bottom: 20px; /* Ajoute un espace entre les paires description-donnée */
  text-align: center;
}

.info-container-3 hr {
  border: none; /* Supprime le style par défaut de la ligne horizontale */
  border-top: 2px solid #ccc; /* Ajoute une ligne horizontale personnalisée */
  margin: 20px 40px 0 0px;
}

.info-container-3 .description-data .description {
  font-weight: 200;
  font-size: 14px;
}

.info-container-3 .description-data .description-info {
  font-weight: 800;
}
























.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #004658;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill:var(--bg-color);
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}


.footer-logo h4{
  color: white;
  font-size: 24px;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}


/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}







































