/* Styles globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html, body {
  overflow-x: hidden;
  padding-top: 2%;
}

:root {
--bg-color: #041C31;
--second-bg-color: #363636;
--text-color: #ededed;
--main-color: #008ADE;
}

/* Header et navigation */
.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--second-bg-color);
  text-decoration: none;
}

.logo:hover {
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Assurez-vous que l'élément couvre toute la largeur de la fenêtre */
  padding: 1rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  z-index: 100;
  transition: .3s;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: var(--second-bg-color);
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1.2rem;
  color: var(--second-bg-color);
  font-weight: 500;
  margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

/* Section contact */
.blue-section {
  height: 15vh; 
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 1.5rem;
  margin-top: 3%;
  width: 100vw;
}

.titre-contact {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 2rem 5rem;
}

.contact-item i {
  margin-right: 0.5rem;
}

.contact-description {
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
  color: var(--text-color);
  text-align: center;
}

.contact-description h2, 
.contact-description h3 {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.contact-description p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contact-description ul {
  list-style: none;
  padding: 0;
}

.contact-description ul li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.contact-description ul li::before {
  content: "✔";
  color: var(--main-color);
  margin-right: 0.5rem;
}

/* Formulaire de contact */
.contact-form-section {
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
  width: 100vw;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);
}

.contact-form h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--main-color);
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bouton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bouton:hover {
  background-color: darken(var(--main-color), 10%);
}


.pg-footer {
  font-family: 'Roboto', sans-serif;
}

.footer {
  background-color: #004658;
  color: #fff;
}

.footer h4 {
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: var(--bg-color);
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
    font-size: 15px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
   position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

  .footer-content {
    height: 270px;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      padding: 0px 15px 0px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }

/* Media Queries pour rendre la page responsive */

/* Pour les appareils de largeur maximale de 1024px (tablettes et plus petits) */
@media (max-width: 1024px) {
.menu-icon {
  display: block;
}

.header {
  color: var(--bg-color);
  background-color: var(--bg-color);
  width: 100vw;
}

.navbar {
  display: none;
  flex-direction: column;
  width: 100vw;
  background-color: var(--bg-color);
  position: absolute;
  top: 60px; /* ajustez en fonction de la hauteur de votre header */
  left: 0;
  padding: 1rem;
}

.navbar.active {
  display: flex;
}

.navbar a {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--main-color);
}

.contact-item {
  margin: 1rem 3rem;
}

.blue-section {
  height: 30vh;
  font-size: 1.5rem;
  width: 100vw;
}

.form-group label {
  font-size: 1rem;
}

.form-group input,
.form-group textarea {
  font-size: 0.9rem;
}

.bouton {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}
}

/* Pour les appareils de largeur maximale de 768px (mobiles et plus petits) */
@media (min-width: 320px) and (max-width: 768px) {

.header {
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 5%;
  width: 100vw;
}

.menu-icon {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  color: white;
}

.navbar {
  display: none;
  color: var(--bg-color);
  width: 100vw;
}

.navbar a {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--main-color);
  text-align: center;
  width: 100%;
}

.navbar.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
}

.blue-section {
  height: 35vh;
  font-size: 1.2rem;
  width: 100vw;
  padding: 1rem;
}

.contact-description {
  margin-top: 8%;
}

.contact-item {
  margin: 1rem 5%;
  width: 100%;
}

.contact-item span {
  text-decoration: none;
  color: inherit; /* Garder la couleur actuelle du texte */
  position: relative; /* Nécessaire pour positionner le lien absolu */
}

.contact-info {
  justify-content: center;
  margin-top: 1rem;
  flex-direction: column;
}

.contact-form-section {
  padding: 2rem 5%;
  width: 100vw;
}

.container {
  padding: 0 1rem;
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 0.9rem;
}

.form-group input,
.form-group textarea {
  font-size: 0.8rem;
  width: 100%;
}


input,
textarea,
select {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.bouton {
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  color: black;
}
}
