/* Styles globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html, body {
  overflow-x: hidden;
  padding-top: 2%;
}

:root {
--bg-color: #041C31;
--second-bg-color: #363636;
--text-color: #ededed;
--main-color: #008ADE;
}

/* Header et navigation */
.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--second-bg-color);
  text-decoration: none;
}

.logo:hover {
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Assurez-vous que l'élément couvre toute la largeur de la fenêtre */
  padding: 1rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  z-index: 100;
  transition: .3s;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: var(--second-bg-color);
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1.2rem;
  color: var(--second-bg-color);
  font-weight: 500;
  margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

/* Section contact */
.blue-section {
  height: 15vh; 
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 1.5rem;
  margin-top: 3%;
  width: 100vw;
}

.titre-contact {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 2rem 5rem;
}

.contact-item i {
  margin-right: 0.5rem;
}

.contact-description {
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
  color: var(--text-color);
  text-align: center;
}

.contact-description h2, 
.contact-description h3 {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.contact-description p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contact-description ul {
  list-style: none;
  padding: 0;
}

.contact-description ul li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.contact-description ul li::before {
  content: "✔";
  color: var(--main-color);
  margin-right: 0.5rem;
}

/* Formulaire de contact */
.contact-form-section {
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
  width: 100vw;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);
}

.contact-form h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--main-color);
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bouton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bouton:hover {
  background-color: darken(var(--main-color), 10%);
}

/* Media Queries pour rendre la page responsive */

/* Pour les appareils de largeur maximale de 1024px (tablettes et plus petits) */
@media (max-width: 1024px) {
.menu-icon {
  display: block;
}

.header {
  color: var(--bg-color);
  background-color: var(--bg-color);
  width: 100vw;
}

.navbar {
  display: none;
  flex-direction: column;
  width: 100vw;
  background-color: var(--bg-color);
  position: absolute;
  top: 60px; /* ajustez en fonction de la hauteur de votre header */
  left: 0;
  padding: 1rem;
}

.navbar.active {
  display: flex;
}

.navbar a {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--main-color);
}

.contact-item {
  margin: 1rem 3rem;
}

.blue-section {
  height: 30vh;
  font-size: 1.5rem;
  width: 100vw;
}

.form-group label {
  font-size: 1rem;
}

.form-group input,
.form-group textarea {
  font-size: 0.9rem;
}

.bouton {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}
}

/* Pour les appareils de largeur maximale de 768px (mobiles et plus petits) */
@media (min-width: 320px) and (max-width: 768px) {

.header {
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 5%;
  width: 100vw;
}

.menu-icon {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  color: white;
}

.navbar {
  display: none;
  color: var(--bg-color);
  width: 100vw;
}

.navbar a {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--main-color);
  text-align: center;
  width: 100%;
}

.navbar.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
}

.blue-section {
  height: 35vh;
  font-size: 1.2rem;
  width: 100vw;
  padding: 1rem;
}

.contact-description {
  margin-top: 8%;
}

.contact-item {
  margin: 1rem 5%;
  width: 100%;
}

.contact-item span {
  text-decoration: none;
  color: inherit; /* Garder la couleur actuelle du texte */
  position: relative; /* Nécessaire pour positionner le lien absolu */
}

.contact-info {
  justify-content: center;
  margin-top: 1rem;
  flex-direction: column;
}

.contact-form-section {
  padding: 2rem 5%;
  width: 100vw;
}

.container {
  padding: 0 1rem;
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 0.9rem;
}

.form-group input,
.form-group textarea {
  font-size: 0.8rem;
  width: 100%;
}


input,
textarea,
select {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.bouton {
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  color: black;
}
}
