*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root{
  --bg-color: #041C31;
  --second-bg-color:#363636;
  --text-color: #ededed;
  --main-color: #008ADE;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  
  .logo:hover {
    color: #000;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Assurez-vous que l'élément couvre toute la largeur de la fenêtre */
    padding: 1rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 100;
    transition: .3s;
  }
  
  .menu-icon {
    display: none;
    font-size: 1.5rem;
    color: var(--second-bg-color);
    cursor: pointer;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    font-size: 1.2rem;
    color: var(--second-bg-color);
    font-weight: 500;
    margin-left: 3.5rem;
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: var(--main-color);
  }

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.menu-dropdown:hover .dropdown-content {
  display: block;
}

/* Body*/ 
.container {
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 3%;
  height: 50px;
}

button {
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color:var(--main-color);
}

#resultat {
  font-weight: bold;
}


@media (min-width: 320px) and (max-width: 768px) {

.header {
  flex-direction: column;
  align-items: flex-start;
  padding:0;
  width: 100%;
}

.menu-icon {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  color: rgb(0, 0, 0);
}

.navbar {
  display: none;
  color: var(--bg-color);
  width: 100vw;
  background-color: var(--bg-color);
}

.navbar a {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--main-color);
  text-align: center;
  width: 100%;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.navbar.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 3%;
  height: 50px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 3%;
  height: 50px;
  text-align: center; 
  font-size: 16px;
}
}