@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root{
--bg-color: #041C31;
--second-bg-color:#363636;
--text-color: #ededed;
--main-color: #008ADE;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

.header {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  z-index: 100;
  transition: .3s;
  padding: 0 5% 0 5% ;
}

.header nav a.active {
  color: var(--main-color); /* Couleur bleue pour le lien actif */
  /* Autres styles de mise en surbrillance */
}

.logo {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  /* Ajoutez ces propriétés pour éviter que le texte du logo n'affecte la position de la navbar */
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  display: flex;
  margin-right: 0%;
  margin-top: 0%;
  display: inline-block;
}

.navbar a {
  font-size: 1.9rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.menu-toggle {
  display: none; /* Masque le menu hamburger par défaut */
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section{
  min-height: 100vh;
  padding: 0rem 2% 2rem;
  position: relative; /* Assure que les éléments à l'intérieur soient positionnés relativement */
}

.home {
  display: flex;
  align-items: flex-start; /* Alignement des éléments au début */
  padding: 0 9%;
}

.home-content {
  max-width: 100%;
  flex: 1;
  margin-top: 10%;
}

.image-box {
  flex: 1;
  margin-left: 2rem; /* Espace entre le contenu et l'image */
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  width: 30%;
}

.home-content h1::first-letter {
  color: var(--main-color); /* Remplacez cette couleur par celle de votre choix */
}

/* Changer la couleur spécifique pour la lettre "A" de "Automatique" */
.home-content h1::first-letter + span {
  color: var(--main-color); /* Couleur pour la lettre "A" */
}

/* Changer la couleur spécifique pour la lettre "T" de "Toulousaine" */
.home-content h1 span:last-of-type::first-letter {
  color: var(--main-color); /* Couleur pour la lettre "T" */
}

.home-content h1 span {
  color: var(--text-color);
}

.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  width: 50%;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2){
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
  background: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;;
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .4rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-color);
  border-bottom: .2rem solid var(--second-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}

/* CSS pour la nouvelle section de la boîte de l'image */
.image-box {
  flex-shrink: 0; /* Pour éviter que cette section réduise la taille du contenu */
  margin-left: auto; /* Positionner à droite */
  margin-top: -100px;
  width: 40%; /* Largeur de la section (ajustez selon vos besoins) */
  box-shadow: 0 0 20px rgba(0, 204, 255, 0.5); /* Ajout de l'ombre */
  border-radius: 5%;
}

/* CSS pour le conteneur de l'image */
.image-container {
  width: 100%; /* Assurez-vous que le conteneur occupe toute la largeur de la section */
  border-radius: 8px; /* Bord arrondi selon vos préférences */
  overflow: hidden; /* Pour cacher le dépassement de l'image */
  border-radius: 5%;
  display: block;
}


.image-container:first-child {
  display: block;
}

/* CSS pour l'image à l'intérieur de la boîte */
.image-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px; 
}

/* Styles pour les boutons */
.home-title {
  text-align: center;
  margin-bottom: 20px; /* Espacement entre le titre et les filtres */
}

.home-title h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.home-title p {
  font-size: 2rem;
  color: #ffffff; /* Couleur du texte */
}

.filters-container {
  top: 10px; /* Place l'élément en haut du conteneur */
  padding: 10px 0; /* Espacement intérieur */
  z-index: 999; /* Assure que les filtres soient au-dessus du reste du contenu */
}

#filters {
  text-align: center; /* Pour centrer le texte à l'intérieur de l'élément */
  margin-top: 0;
}

/* Autres styles pour les boutons et les cartes restent les mêmes */
.filter-button {
  background-color: var(--bg-color); /* Couleur de fond */
  border: solid 0.5px;
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 15px 170px;
  cursor: pointer;
  border-radius: 15px; /* Bord arrondi */
}

.filter-button:hover {
  background-color: var(--main-color); /* Changement de couleur au survol */
}

.filter-button:active {
  background-color: var(--bg-color); /* Changement de couleur lorsqu'appuyé */
}


.container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 1300px; /* Hauteur de l'écran */
  background: linear-gradient(to bottom, #282c34, #4b4b4b); /* Dégradé de #282c34 à #ffffff */
  
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -100px;
}

.item {
  width: calc(25% - 20px); /* Largeur de chaque carte, avec un espace de 20px entre elles */
  margin-bottom: -50px; /* Espacement entre les lignes de cartes */
}

.nft{
  user-select:none;
  max-width: 500px;
  height: 480px;
  margin:  auto;
  border: 1px solid #ffffff22;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
}
ins{
  text-decoration: none;
}
.main{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
  .tokenImage{
    border-radius: .5rem;
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 6%;
  }
  .tokenImage-concerto{
    border-radius: .5rem;
    max-width: 100%;
    height: 600px;
    margin-top: -30%;
    object-fit: cover;
    margin-bottom: -15%;
    margin-left: 10%
  }
  .tokenImage-concerto-touch{
    border-radius: .5rem;
    max-width: 100%;
    height: 400px;
    margin-top: 0%;
    object-fit: cover;
    margin-bottom: 30%;
    margin-left: 11%;
  }
  .tokenImage-maestro{
    border-radius: .5rem;
    max-width: 90%;
    height: 420px;
    margin-top: 3%;
    object-fit: cover;
    margin-bottom: 20%;
    margin-left: 11%;
  }
  .tokenImage-maestro-key{
    border-radius: .5rem;
    max-width: 100%;
    height: 450px;
    margin-top: -6%;
    object-fit: cover;
    margin-bottom: 18%;
    margin-left: 11%;
  }
  .tokenImage-inovymini{
    border-radius: .5rem;
    max-width: 100%;
    height: 500px;
    margin-top: -25%;
    object-fit: cover;
    margin-bottom: 20%;
    margin-left: 8%;
  }
  .tokenImage-inovycompact{
    border-radius: .5rem;
    max-width: 100%;
    height: 500px;
    margin-top: -25%;
    object-fit: cover;
    margin-bottom: 20%;
    margin-left: 8%;
  }
  .tokenImage-inovy{
    border-radius: .5rem;
    max-width: 100%;
    height: 350px;
    margin-top: 30%;
    object-fit: cover;
    margin-bottom: 25%;
    margin-left: 8%;
  }
  
  
  .description{
    color: #a89ec9;
    margin-top: 5px;
  }

.titre-cartes {
/* Vos styles CSS pour l'élément h3 vont ici */
font-size: 1.5rem; /* Taille de la police */
color: #ffffff; /* Couleur du texte */
font-weight: bold; /* Gras */
text-transform: uppercase; /* Mettre en majuscules */
margin-top: -70px;
}

  
.creator{
  display: flex;
  align-items: center;
  margin-top: .2rem;
  margin-bottom: -.3rem;
  
  .wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #ffffff22;
    padding: .3rem;
    margin: 0;
    margin-right: .5rem;
    border-radius: 100%;
    box-shadow: inset 0 0 0 4px #000000aa;
    img{
      border-radius: 100%;
      border: 1px solid #ffffff22;
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      margin: 0;
    }
  }
}
}
::before{
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: .7s all;
}
&:hover{
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
  ::before{
    filter: brightness(.5);
    top: -100%;
    left: 200%;
  }
}
}

.bg{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
h1{
  font-size: 20rem;
  filter: opacity(0.5);
}
}

.carte-lien{
  cursor: pointer;
}

.main .tokenImage {
  max-width: 200px; /* Set a specific maximum width */
  height: auto; /* Allow the height to adjust automatically */
}

.titre-apropos {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: 5%;
}

.titre-apropos h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--main-color);
  font-size: 45px;
}

.container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--second-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 20px;
}

.cercles-container {
  display: flex;
  justify-content: space-around; /* Distribute circles across the width of the container */
  width: 100%; /* Ensure the container takes the full width of the page */
  margin-top: 20px;
  flex-wrap: wrap; /* Allow the circles to wrap on smaller screens */
}

.cercle {
  background-color: var(--second-bg-color);
  padding: 90px;
  width: 480px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-color);
  border-radius: 20px; /* Adds rounded corners */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.c1, .c2, .c3 {
  background: var(--bg-color);
  border-radius: 20%; /* Uniform rounded corners */
  margin-bottom: 20px;
}

.cercle p {
  color: white;
  text-align: left;
  font-size: 1 rem; /* Use relative units for font size */
  max-width: 100%; /* Ensure the text does not exceed the container's width */
  word-wrap: break-word; /* Break long words to fit within the container */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  margin: 0; /* Remove default margin */
  padding: 0 10px; /* Add padding to avoid touching the borders */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.equip-section {
  background-color: var(--second-bg-color);
  padding: 10px 0;
  text-align: center;
  min-height: 80px; /* ou une autre valeur appropriée */
  width: 100%;
}

.equip-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.titre-equip-section {
  font-size: 35px;
  margin: 1% 0 0 20%;
}

.highlight-text {
  color:var(--main-color);
}

.equip-button {
  background-color:var(--main-color);
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 20% 0 0;
}

.equip-button:hover {
  background-color: var(--bg-color);
}

.pg-footer {
  font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: #004658;
    color: #fff;
}

.footer h4 {
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: var(--second-bg-color);
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
    font-size: 15px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
   position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

  .footer-content {
    height: 270px;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      padding: 0px 15px 0px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }

@media (max-width: 768px) {

.header {
    top: 0;
    padding: 0 0%;
}

.logo {
    display: none;
}

.navbar {
  display: none; 
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%; 
  background-color:var(--second-bg-color);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  text-align: center;
}

.menu-toggle {
  display: block;
  position: fixed; 
  top: 20px; 
  right: 20px; 
  z-index: 1000; 
}

.navbar.active {
  display: flex; /* Affiche la barre de navigation avec la classe active */
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10%;
}

.navbar a {
  margin-bottom: 10px;
  display: inline-block; /* Définit les liens comme des éléments en ligne avec une largeur de bloc */
  width: 100%; /* Largeur de 100% */
  text-align: center; /* Centre le texte */
}

#menu-icon {
    display: none; /* Afficher l'icône du menu hamburger */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content {
    width: 100%; /* Assurer que le conteneur occupe toute la largeur */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer le contenu horizontalement */
    text-align: center; /* Centrer le texte à l'intérieur des éléments */
    margin-top: 15%;
}

.home-content h1 {
    font-size: 3.6rem; /* Taille du texte */
    width: 90%;
    margin: 20% 0 5% 0;
    order: 1;
}

.home-content p {
    font-size: 1.7rem;
    width: 80%; /* Assurer que le paragraphe occupe toute la largeur */
    margin: 5rem 0 3rem;
    order: 3;
}

.image-box {
  margin: 10% 0 0 0;
  width: 100%;
  order: 2;
}

.btn-box {
   display: none;
}

.home-sci {
    position: static; /* Position statique pour éviter les chevauchements */
    margin-top: 2rem; /* Ajouter un espace au-dessus des icônes sociales */
    margin-bottom: 3%;
}

.home-title h2 {
  margin-top: 20%;
}

.home-title p {
  width: 95%;
}

#filters {
    margin-bottom: 40%;
}

.filter-button {
    flex: 1 1 calc(50% - 10px); /* Chaque bouton prend environ 50% de la largeur disponible sur mobile */
    max-width: calc(50% - -20px); /* Assure que chaque bouton ne dépasse pas 50% de la largeur */
    margin: 0 10px 10px 0 ;
    font-size: 14px;
}

.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
    padding-top: 6rem; /* Ajout d'un padding en haut pour espacer la section */
}

.about-content {
    text-align: center;
    max-width: 80%; /* Ajustez cette valeur selon vos besoins */
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; /* Ajout d'un margin-bottom pour espacer l'image du texte */
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .4rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.cercles-container {
  flex-direction: column;
  align-items: center;
}

.cercle {
  width: 100%; /* Adjust the width to fit within the screen */
  height: 100%; /* Allow the height to adjust automatically */
  padding: 20px; /* Reduce padding for small screens */
}

.cercle p {
  font-size: 1.875rem; /* Adjust font size for small screens */
  padding: 0 5px; /* Adjust padding for small screens */
}

.container {
    height: auto; /* Hauteur automatique pour s'adapter au contenu */
}

.items {
    flex-direction: column; /* Empiler les éléments verticalement */
    align-items: center;
}

.item {
    width: 80%; /* Largeur des cartes */
    margin-bottom: 2rem; /* Espacement entre les cartes */
}

.c1.c2.c3 {
    width: 100%;
}

.equip-container{
  background-color: var(--second-bg-color);
}

.equip-section{
  background-color: var(--second-bg-color);
}

.equip-button {
    margin: 0 5%;
}

.titre-equip-section{
  font-size: 22px;
}


.footer-wave-path {
    color: var(--bg-color);
}

.footer-content-column{
  width: 100%;
}

.footer-content {
  position: relative; /* Ajouter position relative */
  min-height: 75vh; /* Forcer le footer à occuper au moins toute la hauteur de la fenêtre */
  padding: 40px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ajouter également des styles pour les éléments individuels du footer si nécessaire */
.footer-menu-name,
.footer-call-to-action-title {
  font-size: 16px;
}

.footer-call-to-action-description {
  margin-bottom: 10px;
}

.footer-social-links {
  height: auto;
  width: 100%;
  position: static;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-link {
  padding: 5px;
}

.footer-social-link.linkedin,
.footer-social-link.twitter,
.footer-social-link.youtube,
.footer-social-link.github {
  height: 24px;
  width: 24px;
}

.footer-copyright {
  bottom: 0; /* Placer le footer au bas de la page */
  width: 100%; /* Occuper toute la largeur */
  padding: 10px; /* Ajouter un espace au contenu du footer */
  margin-top: 10%;
}

.footer-copyright-wrapper {
  max-width: 100%;
}

}
