@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root{
--bg-color: #041C31;
--second-bg-color:#363636;
--text-color: #ededed;
--main-color: #008ADE;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.stycky {
  background: yellowgreen;
}

.logo {
  font-size: 5.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home{
  display: flex;
  align-items: center;
  padding: 0 9%;
}

.home-content {
  max-width: 60rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 span {
  color: var(--text-color);
}

.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

/* image graine de café  */

.home-image {
  flex-shrink: 0; /* Empêche l'image de réduire la taille du contenu */
  margin-right: 44rem; /* Ajustez la marge selon vos besoins */
}

.home-image img {
  width: 50%; /* Assurez-vous que l'image occupe toute la largeur de son conteneur */
  border-radius: 8px; /* Ajustez la bordure selon vos préférences */
  color: white;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2){
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
  background: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;

}

.home-sci a:hover::before {
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;;
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .4rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-color);
  border-bottom: .2rem solid var(--second-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}

/* CSS pour la nouvelle section de la boîte de l'image */
.image-box {
  flex-shrink: 0; /* Pour éviter que cette section réduise la taille du contenu */
  margin-left: auto; /* Positionner à droite */
  width: 30%; /* Largeur de la section (ajustez selon vos besoins) */
  box-shadow: #041C31;
}

/* CSS pour le conteneur de l'image */
.image-container {
  width: 100%; /* Assurez-vous que le conteneur occupe toute la largeur de la section */
  border-radius: 8px; /* Bord arrondi selon vos préférences */
  overflow: hidden; /* Pour cacher le dépassement de l'image */
}

/* CSS pour l'image à l'intérieur de la boîte */
.image-container img {
  width: 100%; /* Assurez-vous que l'image occupe toute la largeur du conteneur */
  backdrop-filter: blur;
}

/* Nouvelle section CAROUSSEL  */ 
.new-section {
  position: relative;
  margin-top: 4rem; /* Ajustez selon l'espace nécessaire */
  background: var(--second-bg-color);
}

.new-section ul {
  position: absolute;
  top: 50%;
  width: 1500px;
  height: 200px;
  left: 35%;
  margin-left: -400px;
  margin-top: -130px;
}

.new-section ul li {
  width: 25%;
  list-style-type: none;
  position: absolute;
  top: 0;
  padding: 20px;
  height: 200px;
  opacity: 0;
  padding-top: 40px;
  text-align: center;
  transition: 3s opacity;
}

.new-section ul .active {
  opacity: 1;
}

.new-section p {
  font-family: sans-serif;
  font-size: 13px;
  color: #0069d3;
  line-height: 1.5em;
}

.new-section strong {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 100px;
}

#c li p {
  font-size: 30px; /* Changer la taille de la police selon vos préférences */
  font-family: 'Times New Roman', Times, serif;
}

.concerto {
  width: 230px;
  height: auto;
}

.concerto-touch {
  width: 180px;
  height: auto;
  margin-top: 25PX;
}

