@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'Poppins', sans-serif;
}

:root{
--bg-color: #041C31;
--second-bg-color:#363636;
--text-color: #ededed;
--main-color: #008ADE;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  z-index: 100;
  transition: .3s;
}

.header.stycky {
  background: yellowgreen;
}

.logo {
  font-size: 5.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home{
  display: flex;
  align-items: center;
  padding: 0 9%;
}

.home-content {
max-width: 60rem;
}

.home-content h1 {
font-size: 5.6rem;
font-weight: 700;
line-height: 1.3;
}

.home-content h1 span {
color: var(--text-color);
width: 1500px;
}

.home-content p {
font-size: 1.6rem;
margin: 2rem 0 4rem;
}

/* image graine de café  */

.home-image {
flex-shrink: 0; /* Empêche l'image de réduire la taille du contenu */
margin-right: 44rem; /* Ajustez la marge selon vos besoins */
}

.home-image img {
width: 50%; /* Assurez-vous que l'image occupe toute la largeur de son conteneur */
border-radius: 8px; /* Ajustez la bordure selon vos préférences */
color: white;
}

.btn-box {
position: relative;
display: flex;
justify-content: space-between;
width: 34.5rem;
height: 5rem;
}

.btn-box .btn {
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 15rem;
height: 100%;
background: var(--main-color);
border: .2rem solid var(--main-color);
border-radius: .8rem;
font-size: 1.8rem;
font-weight: 600;
letter-spacing: .1rem;
color: var(--bg-color);
z-index: 1;
overflow: hidden;
transition: .5s;
}

.btn-box .btn:hover {
color: var(--main-color);
}

.btn-box .btn:nth-child(2){
background: transparent;
color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
background: var(--main-color);
}

.btn-box .btn::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 0%;
height: 100%;
background: var(--bg-color);
z-index: -1;
transition: .5s;
}

.btn-box .btn:hover::before {
width: 100%;
}

.home-sci {
position: absolute;
bottom: 4rem;
width: 170px;
display: flex;
justify-content: space-between;
}

.home-sci a {
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: .2rem solid var(--main-color);
border-radius: 50%;
font-size: 20px;
color: var(--main-color);
z-index: 1;
overflow: hidden;
transition: .5s;
}

.home-sci a:hover {
color: var(--bg-color);
}

.home-sci a::before {
content: '';
position:absolute;
top: 0;
left: 0;
width: 0%;
height: 100%;
background: var(--main-color);
z-index: -1;
transition: .5s;

}

.home-sci a:hover::before {
width: 100%;
}

.about {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
background: var(--second-bg-color);
padding-bottom: 6rem;;
}

.heading {
font-size: 5rem;
margin-bottom: 3rem;
text-align: center;
}

span {
color: var(--main-color);
}

.about-img {
position: relative;
width: 25rem;
height: 25rem;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.about-img img {
width: 90%;
border-radius: 50%;
border: .4rem solid var(--main-color);
}

.about-img .circle-spin {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) rotate(0);
width: 100%;
height: 100%;
border-radius: 50%;
border-top: .2rem solid var(--second-bg-color);
border-bottom: .2rem solid var(--second-bg-color);
border-left: .2rem solid var(--main-color);
border-right: .2rem solid var(--main-color);
}

.about-content {
text-align: center;
}

.about-content h3 {
font-size: 2.6rem;
}

.about-content p {
font-size: 1.6rem;
margin: 2rem 0 3rem;
}

.btn-box.btns {
display: inline-block;
width: 15rem;
}

.btn-box.btns a::before {
background: var(--second-bg-color);
}

/* CSS pour la nouvelle section de la boîte de l'image */
.image-box {
flex-shrink: 0; /* Pour éviter que cette section réduise la taille du contenu */
margin-left: auto; /* Positionner à droite */
width: 30%; /* Largeur de la section (ajustez selon vos besoins) */
box-shadow: #041C31;
}

/* CSS pour le conteneur de l'image */
.image-container {
width: 100%; /* Assurez-vous que le conteneur occupe toute la largeur de la section */
border-radius: 8px; /* Bord arrondi selon vos préférences */
overflow: hidden; /* Pour cacher le dépassement de l'image */
}

/* CSS pour l'image à l'intérieur de la boîte */
.image-container img {
width: 100%; /* Assurez-vous que l'image occupe toute la largeur du conteneur */
backdrop-filter: blur;
}

/*----------------------------------------------------------------------------------------------*/
.container {
  display: flex;
  justify-content: center;
  background: rgb(27, 27, 27);
  width: 100%;
  padding: 20px; /* Ajoute un peu d'espace autour des cartes */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Quatre colonnes pour la première ligne */
  grid-gap: 20px; /* Ajoute un peu d'espace entre les cartes */
  max-width: 1100px;
  margin: 0 auto;
  cursor: pointer;
}

.nft{
  user-select:none;
  max-width: 500px;
  height: 340px;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  overflow: hidden;
  transition: .5s all;
  flex: 1;
}

.nft a {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none; /* Supprime la décoration de lien par défaut */
  color: inherit; /* Hérite de la couleur du texte parent */
}

.nft hr{
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}

.nft ins{
  text-decoration: none;
}

.nft .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.nft .main .tokenImage {
  border-radius: .5rem;
  max-width: 100%;
  object-fit: cover;
}

.nft .main h2 {
  margin-bottom: 10px;
}

.nft .main .description {
  margin: .5rem 0;
  color: #a89ec9;
}

.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}

.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: .2rem;
}

.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: .2rem;
  margin-bottom: -.3rem;
}

.nft .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}

.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: .3rem;
  margin: 0;
  margin-right: .5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}

.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.nft:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.nft:hover::before {
  filter: brightness(.5);
  top: -100%;
  left: 200%;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}



















































































@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");

:root {
--light: #ffffff;
--dark: #000;
}
body {
font-family: "Rubik", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
h3 {
font-family: "Noto Serif Display", serif;
font-size: 2.3rem;
font-weight: 300;
text-align: center;
}
a {
text-decoration: none;
color: var(--dark);
font-weight: 400;
transition: 0.3s ease-in;
border-bottom: 1px solid transparent;
margin-bottom: 0.5rem;
display: inline-flex;
}
a:hover {
border-bottom: 1px solid var(--dark);
}
ul {
list-style-type: none;
padding: 0;
}
button {
appearance: none;
border: 0;
background: transparent;
}
.flex {
display: flex;
}
.footer_video {
position: absolute;
top: 0;
left: 0;
object-fit: cover;
width: 100%;
height: 100%;
z-index: -1;
overflow: hidden;
border: none;
}
.footer_inner {
background: var(--light);
backdrop-filter: blur(50px);
border: 0.1px solid rgba(233, 232, 232, 0.208);
border-radius: 5px;
padding: 2rem;
margin: 1rem 0;
}

.footer {
position: relative;
display: flex;
align-items: center;
min-height: 40vh;
}

.container-footer {
max-width: 1200px;
width: 100%;
margin: 0 auto;
padding: 0 1rem;
}

form {
display: flex;
align-items: center;
justify-content: space-between;
width: min(100%, 400px);
border-bottom: 1px solid var(--dark);
}

input {
padding: 0.75rem 0;
border: none;
background: none;
font-weight: 500;
transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
border-radius: 0;
width: 100%;
font-size: 1.05rem;
font-weight: bolder;
}
input:focus {
outline: none;
}
input::placeholder {
color: var(--dark);
}
@media (min-width: 675px) {
.layout {
display: flex;
flex-wrap: nowrap;
column-gap: 2rem;
}
.w-50 {
width: 50%;
}
.w-25 {
width: 25%;
}
}
form {
position: relative;
}
svg {
margin: 0.5rem;
}
.c-2 {
margin-top: 3.5rem;
}
.footer_copyright {
color: var(--light);
}